{
    "startServiceHour": ,
    "startServiceMinute": ,
    "endService": ,
    "startNesimaMattina": {
        "hour": ,
        "minutes": 
    },
    "endNesimaMattina": {
        "hour": ,
        "minutes": 
    },
    "startStesicoroMattina": {
        "hour": ,
        "minutes": 
    },
    "endStesicoroMattina": {
        "hour": ,
        "minutes": 
    },
    "startNesimaPomeriggio": {
        "hour": ,
        "minutes": 
    },
    "endNesimaPomeriggio": {
        "hour": ,
        "minutes": 
    },
    "startStesicoroPomeriggio": {
        "hour": ,
        "minutes": 
    },
    "endStesicoroPomeriggio": {
        "hour": ,
        "minutes": 
    },
    "NESIMA": {
        "toSTESICORO": ,
        "toNESIMA": 
    },
    "SAN NULLO": {
        "toSTESICORO": ,
        "toNESIMA": 
    },
    "MILO": {
        "toSTESICORO": ,
        "toNESIMA": 
    },
    "BORGO": {
        "toSTESICORO": ,
        "toNESIMA": 
    },
    "GIUFFRIDA": {
        "toSTESICORO": ,
        "toNESIMA":
    },
    "ITALIA": {
        "toSTESICORO": ,
        "toNESIMA": 
    },
    "GALATEA": {
        "toSTESICORO": ,
        "toNESIMA": 
    },
    "GIOVANNI XXIII": {
        "toSTESICORO": ,
        "toNESIMA": 
    },
    "STESICORO": {
        "toSTESICORO": ,
        "toNESIMA": 
    },
    "MORNING": ,
    "AFTERNOON": ,
    "splitH": ,
    "STAZIONI": ["NESIMA", "SAN NULLO", "MILO", "BORGO", "GIUFFRIDA", "ITALIA", "GALATEA", "GIOVANNI XXIII", "STESICORO"]
}